<div class="container">
  <form class="form" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <p class="title">Login </p>
    <img src="../../../assets/img/logo.png" alt="" style="border-radius: 8px; width: 80px; height: 30px">
    <p class="message">Signup now and get full access to our app. </p>

    <label>
      <input class="input" type="email" placeholder="" required="" formControlName="email">
      <span>Email</span>
    </label>

    <label>
      <input class="input" type="password" placeholder="" required="" formControlName="password">
      <span>Password</span>
    </label>

    <button class="submit">Ingresar</button>
    <div> <hr> </div>
    <div class="cont-btns">
    <a href="#" class="google-button" (click)="login()">
      <img class="google-icon" src="../../../assets/img/google.png" alt="Google Icon">
      Google
    </a>
    <a href="#" id="github" class="google-button" (click)="loginWithGitHubBtn()">
      <img id="githubimg" class="google-icon" src="../../../assets/img/logithub.png" alt="Google Icon">
      Github
    </a>
  </div>
   <p class="signin" >Don't have an account?<a class="create-account" (click)="cuentaRedirect()"> Crear cuenta nueva</a></p> 
  </form>

</div>