.cont1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 96%;
    margin: 0 auto;
    margin-top: 15px;
    color: black;
}

.cont2 {
    width: 97%;
    display: flex;
    align-items: center;
    gap: 7px;
}
.cont2 p{
    color:wheat
}
.live{
    height:8px;
    width:8px;
    background-color: #9FE917;
    border-radius: 50%;
}

.cont3 {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cont4text {
    font-size: 10px;
    text-align: right;
    padding-right: 7px;
}
.cont3 img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
@media(max-width:767px) {
    .cont1 {
        margin-top: 100px;
    }
    .cont2 p{
        font-size:11px
    }
}
.menu-lateral {
    position: absolute;
    top: 0;
    right: 0px; /* Empieza oculto */
    width: 250px;
    height: 94.4vh;
    background-color: #000000ec;
    transition: right 0.3s;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }
  
  .menu-lateral img {
    max-width: 70px;
    max-height: 70px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .menulateral{
    cursor: pointer;
    border-radius: 50%;
  }
 
  .noscroll {
    overflow: hidden;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 81%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.245); /* Fondo semitransparente oscuro */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    display: none; /* Inicialmente oculta la capa */
  }
  
  .overlay.visible {
    display: block; /* Muestra la capa cuando el menú está abierto */
  }

  .menu-lateral a{
    color: rgb(241, 66, 66);
  }
  