<app-nav></app-nav>
<div class="contprin">
  <div class="cards">
    <div class="card red">
      <p class="tip">Bienvenid@!</p>
      <p class="second-text">¡Bienvenido a nuestra plataforma educativa de matemáticas!. Explora el maravilloso mundo de
        los números, fórmulas y conceptos matemáticos con
        nosotros.</p>
    </div>
    <div class="card blue">
      <p class="tip">Misión</p>
      <p class="second-text">Nuestra misión es fomentar el amor por las matemáticas y eliminar los miedos asociados con
        esta disciplina. Nos esforzamos por proporcionar materiales educativos de alta calidad que hagan que aprender
        matemáticas sea atractivo y comprensible para estudiantes de todas las edades y niveles.</p>
    </div>
    <div class="card green">
      <p class="tip">Visión</p>
      <p class="second-text">Tenemos la visión de un mundo en el que las matemáticas sean apreciadas y valoradas como
        una herramienta poderosa para comprender nuestro entorno y resolver problemas complejos. Buscamos inspirar a
        generaciones futuras de matemáticos, ingenieros, científicos y pensadores creativos.</p>
    </div>
  </div>
  <div class="cont">
    <div class="content">
      <h2>Curiosidades 🧐</h2>
      <ul>
        <br>
        <li>Los antiguos babilonios, verdaderos genios en matemáticas, desarrollaron sus estudios matemáticos en base 60
          en lugar de base 10. Por esta razón, un minuto tiene 60 segundos y un círculo tiene 360°.</li>
        <br>
        <li>Según los matemáticos, existe un total de 177.147 formas distintas de atar un lazo.</li>
        <br>
        <li>2520 es el número más pequeño que puede ser dividido en forma exacta por los números del 1 al 10.</li>
        <br>
      </ul>
    </div>
  </div>
</div>