* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.fixed-nav {
    border-radius: 8px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

}

#categories {
    cursor: pointer;
}

/* Estilo base del select */
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc65;
    border-radius: 15px;
    appearance: none;
    /* Oculta la apariencia nativa del select */
    color: rgb(247, 240, 227);
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(110,9,121,1) 100%, rgba(110,28,32,1) 100%, rgba(0,212,255,1) 100%); */
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(110, 9, 121, 1) 100%, rgba(110, 28, 32, 1) 100%, rgba(0, 212, 255, 1) 100%);

    font-weight: bold;
}

/* Estilo cuando el select está desplegado */
select:focus {
    outline: none;
    border-color: #980e85;
    /* Color del borde cuando el select está enfocado */
}

/* Estilo de las opciones */
option {
    position: relative;
    top: 20PX;
    background-color: #000000;
}

.opt {
    font-weight: bold;
    font-size: 16px;
}

/* Estilo de la opción seleccionada */
option:checked {
    background-color: #0366d6;
    /* Color de fondo de la opción seleccionada */
    color: #1f1f1f;
    /* Color del texto de la opción seleccionada */
}


nav {
    background-color: #00000097;
    height: 80px;
    width: 100%;

}

.enlace {
    position: absolute;
    padding: 9px 15px;
}

.logo {
    height: 60px;
    border-radius: 10px;
    width: 210px;
}

.salir {
    background-color: #a70404;
}

nav ul {
    float: right;
    margin-right: 10px;
}

nav ul li {
    display: inline-block;
    line-height: 75px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    cursor: pointer;
}

li a.active,
li a:hover {
    background: #008C46;
    transition: .5s;
}

.submenu ul li {
    background-color: #0366d6
}

.admin {
    cursor: pointer;
}

.admin:hover {
    background-color: #850589 !important
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.closebtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.shopping-car {
    font-size: 25px;
    cursor: pointer;
    padding: 15px;
}

.shopping-car:hover {
    color: #980e85;
}

.shopping-car1 {
    font-size: 25px;
    cursor: pointer;
    padding: 15px;
}

.shopping-car1:hover {
    color: #980e85;
}

.contador {
    color: rgb(239, 239, 0);
}

@media (max-width: 952px) {
    .enlace {
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #000000;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover,
    li a.active {
        background: none;
        color: red;
    }

    #check:checked+.checkbtn {
        display: none;
    }

    #check:checked+.checkbtn~ul {
        left: 0;
    }

    #check:checked+.checkbtn~.closebtn {
        display: block;
    }


    select {
        width: 70%;
        text-align: center;
        font-size: 18px;
        border-radius: 12px;

    }

    /* Estilo cuando el select está desplegado */

    /* Estilo de las opciones */
    option {
        padding: 10px;
        max-width: 10px;
    }

    /* Estilo de la opción seleccionada */
    option:checked {
        background-color: #0366d6;
        /* Color de fondo de la opción seleccionada */
        color: #fff;
        /* Color del texto de la opción seleccionada */
    }

    .shopping-car1 {
        font-size: 25px;
    }

    .carrito {
        padding: 22px;
        text-align: right;
    }
    .fixed-nav {
        position: fixed;
        border-radius: 0px;
          }
}

@media (min-width: 858px) {
    .shopping-car1 {
        display: none;
    }
    

}

.bolsos {
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #444;
}

nav li:hover .submenu {
    display: block;
}

.submenu li {
    display: block;
}

.submenu li a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: #555;
}

.cont1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 96%;
    margin: 0 auto;
    margin-top: 15px;
    color: black;
}

.cont2 {
    width: 97%;
    display: flex;
    align-items: center;
    gap: 7px;
}
.cont2 p{
    color:wheat
}
.live{
    height:8px;
    width:8px;
    background-color: #9FE917;
    border-radius: 50%;
}

.cont3 {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cont4text {
    font-size: 10px;
    text-align: right;
    padding-right: 7px;
}
.cont3 img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
@media(max-width:767px) {
    .cont1 {
        margin-top: 100px;
    }
    .cont2 p{
        font-size:11px
    }
}

  
  .menu-lateral img {
    max-width: 70px;
    max-height: 70px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .menulateral{
    cursor: pointer;
    background-color: #8080803b;
justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
  }
 
  .menulateral img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .info{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    font-size: 10px;

  }
  .info p {
color: rgba(154, 154, 154, 0.977);
  }
  .noscroll {
    overflow: hidden;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.523); /* Fondo semitransparente oscuro */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    display: none; /* Inicialmente oculta la capa */

  }
  
  .overlay.visible {
    display: block; /* Muestra la capa cuando el menú está abierto */
  }

  .menu-lateral a{
    color: rgb(241, 66, 66);
  }
  .menu-lateral {
    position: absolute;
    top: 0;
    right: 0px; /* Empieza oculto */
    width: 330px;
    height: 100vh;
    background-color: #000000ec;
    transition: right 0.3s;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2000;
    justify-content: space-between;
  }
  .info1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .info1 button{
    cursor: pointer;
  }
  .info2{
    display: grid;
    margin-top: 20px;
  }
  .info2 p{
    font-size: 10px;
  }
  .p1{
    color: wheat;
  }
  .p2{
    color: rgb(181, 181, 181);
  }
  .info3{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .info3 a{
    font-size: 10px;
  }
  .button {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #9d1a2d;
    transition: all 0.2s ease;
  }
  
  .button:active {
    transform: scale(0.96);
  }
  
  .button:before,
  .button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  
  .button:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #9d1a2d 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #9d1a2d 20%, transparent 30%),
      radial-gradient(circle, #9d1a2d 20%, transparent 20%),
      radial-gradient(circle, #9d1a2d 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #9d1a2d 15%, transparent 20%),
      radial-gradient(circle, #9d1a2d 20%, transparent 20%),
      radial-gradient(circle, #9d1a2d 20%, transparent 20%),
      radial-gradient(circle, #9d1a2d 20%, transparent 20%),
      radial-gradient(circle, #9d1a2d 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
  }
  
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
  .button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #9d1a2d 20%, transparent 20%),
      radial-gradient(circle, #9d1a2d 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #9d1a2d 15%, transparent 20%),
      radial-gradient(circle, #9d1a2d 20%, transparent 20%),
      radial-gradient(circle, #9d1a2d 20%, transparent 20%),
      radial-gradient(circle, #9d1a2d 20%, transparent 20%),
      radial-gradient(circle, #9d1a2d 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
  }
  
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }