<nav class="fixed-nav">
  <input type="checkbox" id="check" [checked]="isMenuOpen1" (click)="toggleMenu1()">
  <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
  <label for="check" class="closebtn"><i class="fas fa-times"></i></label>
  <a href="#" class="enlace">
    <img src="../../../assets/img/logo.png" alt="" class="logo">
  </a>
  <ul [class.open]="isMenuOpen">
    <li><a (click)="inicioRedirect()">INICIO</a></li>
    <li>
      <a (click)="videosRedirect()">VIDEOS</a>
      <!-- <ul class="submenu">
          <li><a href="#">Geometría</a></li>
          <li><a href="#">Álgebra</a></li>
          <li><a href="#">Cálculo</a></li>
          <li><a href="#">Física</a></li>
          <li><a href="#">T. conjuntos</a></li>
          <li><a href="#">Lógica</a></li>
          <li><a href="#">T. Números</a></li>
        </ul> -->
    </li>
    <li><a href="#">MATERIAL</a></li>
    <li><a href="#">FORO</a></li>
    <li><a href="#">INFO</a></li>
    <li>

      <div class="menulateral" (click)="toggleMenu()">
        <div class="info">
          <p>{{nombre}}</p>

        </div>
        <img [src]="foto || '../../../assets/img/avatar.png'" alt="Avatar" (error)="setDefaultImage()">
      </div>
      <div class="overlay" [ngClass]="{'visible': menuVisible}" (click)="toggleMenu()"></div>
    </li>
  </ul>




</nav>
<app-banner1></app-banner1>

<div class="menu-lateral" *ngIf="menuVisible">
  <div class="info1">
    <img [src]="foto || '../../../assets/img/avatar.png'" alt="Avatar" (error)="setDefaultImage()">
    <div class="info2">
      <p class="p1">{{email}}</p>
      <p class="p2">{{nombre}}</p>
    </div>
    <button (click)="toggleMenu()">❌</button>
  </div>
  <div class="info3">
    <a (click)="eliminarCuenta()">Eliminar cuenta</a>
    <button class="button" (click)="logout()">Cerrar sesion</button>
  </div>
</div>