<app-nav></app-nav>
<div class="cont">

  <div class="video-container">
    <iframe src="https://www.youtube.com/embed/D5wg6u30TvA" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="description-container">
    <h2>Descripción: LaTeX Básico de Conceptos Matemáticos</h2>
    <p>
      LaTeX es un sistema de composición de textos que se utiliza comúnmente en el ámbito académico y científico para la
      creación de documentos que contienen contenido matemático y científico complejo. Este video introductorio cubre
      conceptos básicos de LaTeX, incluyendo la estructura de un documento, fórmulas matemáticas simples, símbolos y
      comandos básicos.
    </p>
  </div>
<br>
<br>
<hr>
<br>
<br>
  <div class="video-container">
    <iframe src="https://www.youtube.com/embed/O2hMEB2MCGA" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="description-container">
    <h2>Descripción: Ejercicios con Delta -Épsilon</h2>
    <p>
      En este video sobre 'Ejercicios con Delta-Épsilon', exploramos la definición formal de límite en cálculo y análisis matemático. A través de ejemplos y ejercicios prácticos, aprendemos cómo utilizar la notación de delta y épsilon para comprender cómo una función se aproxima a un valor límite a medida que la variable de entrada se acerca a un punto específico. Una introducción esencial para aquellos que buscan fortalecer su comprensión en este importante concepto matemático.
    </p>
  </div>

</div>